<%= form_for @want, data: { remote: true }, html: { class: 'form-inline', role: 'form' } do |form| %>
  <div class='form-group'>
    <%= form.number_field :cash_offer, min: 1, placeholder: 'Enter Cash Offer' %>
  </div>
  <%= form.submit 'save', class: 'btn, btn-primary btn-xs' %>
<% end %>
