<div class="jumbotron">
<h1>Oz Math Trade helper</h1>

<p>This tool is a work in progress to help with Oz Maths Trades</p>

<p>It is the work of <%= link_to 'phantomwhale', Bgg.link_to_user('phantomwhale') %>, so send all blame / praise his way</p>

<p>To access the tool, you need to enter your BGG username (case-sensitive) above and click Sign In</p>

</div>
<div class="well">
<p>Note that this tool is under development, all data contained can be accessed by others and may be destroyed after this years maths trade is completed.</p>

<p>I would LOVE YOUR FEEDBACK - if this is something you might use for future maths trades, please let me know and I'll keep developing it. Equally, if it's missing a key, killer feature, let me know too, and I'll make sure it has it next time :)</p>

<p>Happy trading,<br>Ben (phantomwhale)</p>
</div>
