<h1>Trade list</h1>

<table class="table submit_want_behaviour">
  <thead>
    <th class='col-md-1'>GL #</td>
    <th class='col-md-1'>Actions</td>
    <th class='col-md-3'>Game</td>
    <th class='col-md-3'>Username</td>
  </thead>
  <tbody>
    <% @geeklist.games.each do |game| %>
      <tr>
        <td class='col-md-1'>
          <%= link_to game.id, game.list_item_link %>
        </td>
        <td class='col-md-1'>
          <% if @current_user.wants.find_by(game_id: game.id) %>
            ADDED
          <% else %>
            <%= link_to '+want', want_index_path, data: { 
              remote: true, type: 'json', method: 'post', params: { game_id: game.id }.to_param, disable_with: 'Submitting...'
            }, :class => 'btn btn-primary btn-xs' %>
          <% end %>
        </td>
        <td class='col-md-3'>
          <%= link_to game.name, game.bgg_link %>
        </td>
        <td class='col-md-3'>
          <%= link_to game.user, Bgg.link_to_user(game.user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
