<h1>Your Offered Games</h1>

<table class="table toggle_want_behaviour">
  <thead>
    <th class='col-md-1'>GL #</td>
    <th class='col-md-3'>Game</td>
    <th class='col-md-3'>Trade Code</td>
  </thead>
  <tbody>
    <% @offers.each do |game| %>
      <tr>
        <td class='col-md-1'>
          <%= link_to game.id, Bgg.link_to_list_item(game.list_entry_id) %>
        </td>
        <td class='col-md-3'>
          <%= link_to game.name, Bgg.link_to_thing(game.game_id) %>
        </td>
        <td class='col-md-3'>
          <%= game.trade_code %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
